.navbar, .footer {
    width: 100%;
    height: 30px;
    background-color: #2f3233;
    overflow: hidden;
    display: block;
}

html {
  overflow-y: auto;
}

body {
  height: 100%;
  position: absolute;
  width: 100%;
  background: linear-gradient(to bottom, #6af7fc 0%,#eea537 100%);
  font-family: 'IBM Plex Sans', sans-serif;
  /* background-color: rgb(116, 116, 116); */
  /* background-image: url('/resources/nebula.jpg'); */
  /* background-size: cover; */
}

.footer {
    display: none;
    height: 100px;
    bottom: 0;
    position: absolute;
}

.usernameFilled {
  float: right;
  margin: 5px;
  padding-right: 20px;
  font-size: 30px;
  color: white;
  display: none;
}

.usernameFilled:hover {
  color: rgb(62, 158, 247);
}

.usernameEmpty {
  display: block;
  float: right;
  margin: 5px;
  padding-right: 20px;
  font-size: 30px;
  color: white;
  background-color: #2f3233;
}

.soryong {
    font-size: 30px;
    color: white;
    margin: 0px 15px;
    float: left;
}

.soryong:hover {
    font-size: 30px;
    color: rgb(62, 158, 247);
    margin: 0px 15px;
    float: left;
}

.nav {
    font-size: 20px;
    color: white;
    margin: 15px;
}

.nav:hover {
    font-size: 20px;
    color: rgb(62, 158, 247);
    margin: 15px;
}

.foo {
    font-size: 16px;
    color: white;
    margin: 5px;
}

.foo:hover {
    font-size: 16px;
    color: rgb(62, 158, 247);
    margin: 5px;
}
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: fixed;
    top: 50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .watchTable {
    width: 100%;
    border: 4px solid #2f3233;
    overflow-y: scroll;
    height: 500px;
    display:  block;
  }

  

  .watch-table-a {
    width: 100%;
    border: 4px solid #2f3233;
  }

  .header {
    background-color: #2f3233;
    color: white;
  }

  .table-header-text {
    color: white;
    vertical-align: -webkit-baseline-middle;
    margin-left: 10px;
  }

  .table-text {
    vertical-align: -webkit-baseline-middle;
    margin-left: 10px;
  }

  tr {
    background-color: white;
    height: 40px;
  }

  .input {
    height: 2.5em;
    border-radius: 0;
  }

  td {
    margin-left: 10px;
  }

  .select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
/* .select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
} */
.select-css option {
    font-weight:normal;
}

fieldset, label { margin: 0; padding: 0; }
/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
  margin-left: 5px;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.table-header-rating {
  width: 150px;
}

.table-header-seasons {
  width: 100px;
}



.table-header-name {
  width: 250px;
}

.table-header-platform {
  width: 120px;
}

.table-header-type {
  width: 120px;
}

.invis-table-col {
  display: none;
}

.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
  font-size: 30px;  
  border: 4px solid #2f3233;
  border-left: 0px;
  height: 86px;
  border-radius: 0px;
  margin-right: -1px;
}

.table-th {
  width: 100%;
}

.rating-invis {
  display: none;
}

.icon-col {
  width: 40px;
}

.trash {
  width: 30px;
  height: 30px;
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  border: 0px;
  background-color: transparent;
}